<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div id="wrapper" class="clearfix">

      <aside id="sidebar" class="animated fadeInLeft">

        <header id="masthead">

          <div class="bio-pic">
            <a href="{{ site.url }}">
              <img alt="" src="{{site.url}}/images/{{ site.owner.avatar }}" class="avatar avatar-80 photo" height="80" width="80">
            </a>
          </div><!--/ bio-pic -->

          <hgroup>
            <h1 class="site-title"><a href="{{ site.url }}" >{{ site.title }}</a></h1>
            <h2 class="site-description">{{ site.description }}</h2>
          </hgroup>

        </header><!-- /#masthead -->

        <nav id="navigation">
            {% include navigation.html %}
        </nav><!-- /#navigation -->

      </aside><!-- /#sidebar -->

      <div id="main">

        <article class="post type-post status-publish format-standard sticky hentry clearfix">

          <header>
              <h1 class="entry-title">
                <a href="{{ site.url }}{{ page.url }}">
                  {{ page.title }}
                </a>
              </h1><!-- /.entry-title -->

          </header>

          {% if page.image.feature %}
          <figure class="featured-image">
            <img width="480" height="396" src="{{ site.url }}/images/{{ page.image.feature }}" class="attachment-post-thumbnail wp-post-image" alt="{{ page.title }}">
          </figure><!-- /.featured-image -->
          {% endif %}

          <div class="entry-content clearfix">

            {{ content }}

          </div><!-- /.entry-content -->

        </article>

      </div>

    </div><!-- /#wrapper -->

    <footer id="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer><!-- /#site-footer -->
    {% include scripts.html %}
  </body>
</html>
